<h1 class="mt-5 mb-5 text-center">Sign Up!</h1>

<form action="/signup" method="POST">
    <div class= 'mb-3'>
        <label for="create username" class="form-label">Create Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
      <label for="create password" class="form-label">Create Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 